@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    padding: 0px;
    margin:  0px;
}
.container{
    top: 60px;
    left: 400px;
    position: absolute;
    display: flex;
    gap: 5px;
}
fieldset{
    border: 1px solid rgb(219, 219, 219);
}
h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Satisfy', cursive;
}
.img{
    position: relative;
    left: -70px;
}
.instagram{
    left: -50px;
    position: relative;
    height: 600px;
}
.instagram input{
    border: 1px solid rgb(219, 219, 210);
    background-color: rgb(247, 248, 249);
    margin: 5px;
    outline: none;
    margin-left: 20px;
    width: 280px;
    height: 30px;
}
.instagram button{
    color: white;
    border: none;
    background-color: #68e1ff;
    margin-top: 10px;
    margin-left: 20px;
    width: 285px;
    height:30px; 
    border-radius: 7px;
}
.or{
    text-align: center;
}
.toy{
    color: #385185;
    margin-left: 90px;
    text-decoration: none;
}
.toy-1{
    margin-left: 110px;
    text-decoration: none;
    color: darkblue;
}
.down{
    margin-left: 30px;
    width: 150px;
}
.down-1{
    width: 130px;
}
.down-3{
    text-align: center;
}
footer{
    text-align: center;
}
footer ul{
    color: grey;
    margin-left: 20px;
    position: relative;
    top: 670px;
    list-style: none;
    text-align: center;
    display: flex;
    gap: 20px;
}
.select{
    top: 660px;
    position: relative;
    margin-left: 600px;
    display: flex;
}
select{
    color: grey;
    top: 15px;
    position: relative;
    height: 20px;
}
.select p{
    margin-left: 15px;
}
.Register{
    text-decoration: none;
}
.reg{
    text-align: center;
}
.select p{
    color: grey;
}
.apple{
    display: flex;
    gap: 25px;
    margin-right: 30px;
}
.apple img{
    width: 150px;
    height: 50px;
}
