@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    padding: 0px;
    margin:  0px;
}
.container{
    top: 60px;
    left: 400px;
    position: absolute;
    display: flex;
}
fieldset{
    border: 1px solid rgb(219, 219, 219);
}
h1{
    font-style: italic;
    text-align: center;
    font-size: 50px;
}
.img{
    position: relative;
    left: -70px;
    height: 570px;
}
.instagram{
    left: -50px;
    position: relative;
    height: 570px;
} 
.instagram input{
    border: 1px solid rgb(219, 219, 210);
    background-color: rgb(247, 248, 249);
    margin: 5px;
    outline: none;
    margin-left: 20px;
    width: 310px;
    height: 27px;
}
.instagram button{
    color: white;
    border: none;
    background-color: #68e1ff;
    margin-top: 10px;
    margin-left: 20px;
    width: 310px;
    height:30px; 
    border-radius: 7px;
}
.or{
    text-align: center;
}
.toy{
    color: #385185;
    margin-left: 90px;
    text-decoration: none;
    font-style: italic;
}
.toy-1{
    margin-left: 110px;
    font-style: italic;
    text-decoration: none;
    color: darkblue;
}
.down{
    margin-left: 30px;
    width: 150px;
}
.down-1{
    width: 130px;
}
.down-3{
     text-align: center;
}
footer ul{
    margin-left: 20px;
    position: relative;
    top: 620px;
    list-style: none;
    text-align: center;
    display: flex;
    gap: 15px;
   }
   .select{
    top: 605px;
    position: relative;
    margin-left: 600px;
    display: flex;
   }
   select{
    top: 15px;
    position: relative;
    height: 20px;
   }
   .select p{
    margin-left: 15px;
   }
.Register{
    text-decoration: none;
    margin-left: 35px;
}
